<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Blog</h1>
    <form action="" method ='post'>
        {% csrf_token %} 

        <input type="text" name ="blogHeading" placeholder="enter blog heading">
        <input type="text"name="content" placeholder="enter blog content">
        <button type="submit">Submit</button>

        <div>
            <h2> blogs avilable </h2>
            <p>blog heading</p>
            {% for blog in blogs %}
               <h1>{{ blog.blog_heading }}</h1>
               <p>{{ blog.blog_content }}</p>
            {% endfor %}
            
    </form>
</body>
</html>