<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> qoute of the day  </h1>
    <h2>{{ qoute  }}</h2>
    <h4>  share your qouate</h4>
    <form method ='post'>
        {% csrf_token %}
        <input type = 'text'name ='qoute' palceholder = 'enter your qoute'><input type = 'submit' value = 'submit'>
    </form>
    {% if submitted_qoute%}
      <h3> your quote is {{ submitted_qoute }}</h3>
      {% endif %}
</body>
</html>